ul
{
list-style: none;
padding: 0; /* Убираем поля */
margin-left: 0px; /* Отступ слева */
}
li
{
padding-bottom: 50px;
max-width: 350px;
min-width: 350px;
}

#img1{
  width: 16px;
}

#block0 {
  border-top: 1px solid gray;
}

#block1 {
float: left;
display: block;
width: 275px;
font-weight: bold;
padding-bottom: 10px;
}

#block2 {
float: right;
display: block;
width: 75px;
color: gray;
text-align: right;
padding-bottom: 10px;
}

#block3 {
float: top;
display: block;
width: 350px;
padding-bottom: 10px;
}

#block4 {
float: left;
display: block;
width: 100px;
}

#block5 {
float: left;
display: block;
width: 250px;

  text-align: right;
}

#a1{
color: cadetblue;
padding-left: 20px;
font-weight: normal;
}

#a2{
color: cadetblue;
text-decoration: underline;
}

#a3{
color: cadetblue;
text-decoration: underline;
padding-left: 10px;
}